
<input type="hidden" id="user_id"  value="<%=current_user.id%>">

<div id='user_page'>
  <div id="user_info">
  </div>
  <div id="current_routine">
    <h3>_____________________________CURRENT_ROUTINE_______________________________</h3>
  </div>
  <div id="upcoming_routine">
    <h3>_____________________________UPCOMING_ROUTINE_______________________________</h3>
  </div>
</div>

<div id="routines_page">
</div>
